
<div class="container">
<br/>
<h3>Plant tips</h3><br/>

    <%= image_tag "plant-pattern.png", width: 1080, class: "img-fluid" %><br/>

    <br/><p>Scroll through our plant tips here:</p><br/>

    <div>
        <% @plant.each do |plant| %>
        <tr>
            <td><div style="color: #95d5b2"><h5><%= plant.title %></td></h5></div>
        
            <td><%= plant.description %></td>
        </tr>
        <br/>
        <br/>
        <br/>
        <% end %>
    </div>
</div>